* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}
body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f2027, #000);   
    overflow: hidden;
}
.calculator{
    width: 320px;
    background: linear-gradient(rgba(0, 245, 255, 0.5),rgba(217, 0, 237, 0.5));
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    // box-shadow: 0 0 40px rgba(0, 245, 255, 0.5);

    .display{
        background: rgba(0, 0, 0, 0.4);
        color: white;
        text-align: right;
        padding: 15px;
        border-radius: 12px;
        margin-bottom: 15px;
        min-height: 60px;
        font-size: 28px;
        overflow-x: auto;
    }
    
    .buttons{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;

        button{
            padding: 15px;
            font-size: 18px;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.12);
            color: white;
            transition: 0.2s;
        }
        button:hover{
            background: rgba(0,245,255,0.3);
        }
        button:active{
            scale: 0.98;
        }
        .operator{
            font-weight: bold;
            color: white;
            background: rgba(0, 0, 0, 0.4);
        }
        .equal{
            font-weight: bold;
            grid-column: span 2;
            background: linear-gradient(320deg,#00f7ffb0,#ff00e0);
        }
        .clear{
            background: rgba(255, 30, 0, 0.8);
        }
    }
}
